$font-color: #565656;
$main-background-color: #f2f8f6; 
$body-font: OratorStd, Helvetica, Verdana, Sans-Serif;
$paragraph-font: Merriweather, Helvetica, Verdana, Sans-Serif;
$burger-color: #817b7b;
$white-background: #FFFFFF;

@font-face {
  font-family: OratorStd;
  src: url("../font/OratorStd.otf") format("opentype");
}

@font-face {
  font-family: NotSoElegant;
  src: url("../font/notsoelegant.ttf");
}


@font-face {
  font-family: Merriweather;
  src: url("../font/Merriweather.ttf");
}

h1 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

body {
  color: $font-color;
  font-weight: normal;
  font-family: $body-font;
  font-size: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: $white-background;
}

.site-header {
  width: 100%;
  height: 465px;
  position: fixed;
  top: 0;
  z-index: -3;
  left: 0;
  right: 0;
  bottom: 0;
}

.teaser {
  height: inherit;
  
  span {
    font-family: NotSoElegant, Helvetica, Verdana, Sans-Serif;
    color: #fff;
    font-size: 160px;
    letter-spacing: 5px;
    font-weight: 170;
    position: fixed;
    left: 50px;
    top: 100px;
    opacity: 0.8;
  }
  
  .image {
    display: block;
    background: url(../../img/tea.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    
    &:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 100);
      opacity: 0.1;
    }
  
  }
}

#navigation {
  margin-top: 465px;
}

.primary-nav {
  float: left;
  position: relative;
  padding: 10px 0 10px 0;
  background-color: $white-background;
  width: 100%;
  height: 50px;
}

ul {
  clear: left;
  float: left;
  left: 50%;
  position: relative;
  text-align: center;
  list-style: none;
}

.primary-items span.selected {
  padding-bottom: 25px;
  border-bottom: 3px solid #FFCC00;
}

ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  
  a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    margin-right: 85px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    &:hover {
      text-decoration: underline;
    }
  
  }
}

.secondary-nav {
  float: right;
  background-color: $white-background;
  width: 230px;
  padding: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 535px;
  
  &.fixed {
    position: fixed;
    margin-top: 70px;
    top: 0;
    right: 0;
  }
  
  ul {
    text-align: left;
  }
  
  .secondary-items .hidden {
    display: none;
  }

}

button:focus {
  outline: 0;
}

.toggle-nav {
  background: transparent;
  border: none;
  position: absolute;
  right: 70px;
  top: 30px;

  span {
    cursor: pointer;
    height: 5px;
    width: 35px;
    background-color: $burger-color;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

    &:before, &:after {
      cursor: pointer;
      height: 5px;
      width: 35px;
      background-color: $burger-color;
      position: absolute;
      display: block;
      content: '';
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }

  }
  &.active span {
    background-color: transparent;
    
    &:before, &:after {
      top: 0;
    }
    
    &:before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    
    &:after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}

.primary-nav.fixed {
  position: fixed;
  top: 0;
  height: 50px;
}

#main {
  display: block;
  background-color: $main-background-color;
  text-align: center;
  
  &.hidden {
    display: none;
  
  }
}

article {
  display: inline-block;
  width: 830px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: $white-background;
  height: 100%;
  
  &.fixed {
    margin-top: 95px;
  }
  
  .date {
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 14px;
  }
}

body p {
  font-size: 16px;
  font-family: $paragraph-font;
}

.recipe {
  text-align: left;
  p {
    margin: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .teaser span {
    font-size: 60px;
    left: 55px;
    top: 180px;
  }
  
  .primary-items {
    display: none;
  }
  
  .secondary-nav {
    width: 100%;
    height: 450px;
    
    .secondary-items {
      display: block;
      .hidden {
        display: block;
      }
    
    }
  }
  
  ul li {
    padding-bottom: 20px;
    float: none;
    
    a {
      font-weight: normal;
      font-size: 20px;
    }
  
  }
  
  #main {
    z-index: -3;
  }
  
  article {
    width: 100%;
  }

}