@font-face {
	font-family: OratorStd;
	src: url("../font/OratorStd.otf") format("opentype");
}

@font-face {
    font-family: NotSoElegant;
    src: url("../font/notsoelegant.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("../font/Merriweather.ttf");
 }

body {
	color: #565656;
	font-weight: normal;
	font-family: OratorStd, Helvetica, Verdana, Sans-Serif;
	font-size: 100%;
	margin: 0;
	overflow-x: hidden;
	background-color: #293438;
}

.site-header {
	width: 100%;
    height: 465px;
    position: fixed;
    top: 0;
    z-index: -3;
    left: 0;
    right: 0;
    bottom: 0;
}

.teaser {
	height: inherit;
}

.teaser span {
	font-family: NotSoElegant, Helvetica, Verdana, Sans-Serif;
	color: #fff;
	font-size: 160px;
	letter-spacing: 5px;
	font-weight: 170;
	position: fixed;
	left: 50px;
	top: 100px;
	opacity: 0.8;
}

.teaser .image {
	display: block;
	background: url(../../img/tea.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}	

.teaser .image:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,100);
    opacity: 0.1;
}

#navigation {
	margin-top: 465px;
}

.primary-nav {	
	float: left;
	position: relative;
	padding: 10px 0 10px 0;
	background: #fff;
	width: 100%;
	height: 50px;
}

ul {
	clear:left;
	float:left;
	left: 50%;
	position: relative;
	text-align: center;
	list-style: none;
}

.primary-items span.selected {
	padding-bottom: 25px;
    border-bottom: 3px solid #FFCC00;
}

ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}

ul li a {
	color: #000;
	text-decoration: none;
	font-weight: normal;
	margin-right: 85px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

ul li a:hover {
	text-decoration: underline;
}

.secondary-nav {
	float: right;
	background: #fff;
	width: 230px;
	padding: 0;
	display: none;
	position: relative;
}

.secondary-nav.fixed {
	position: fixed;
    margin-top: 70px;
    top: 0;
    right: 0;
}

.secondary-nav ul {
	text-align: left;
}

.secondary-nav .secondary-items .hidden {
	display: none;
}

button:focus {
	outline:0;
}

.toggle-nav {
	background: transparent;
	border: none;
	position: absolute;
    right: 70px;
    top: 30px;
}

.toggle-nav span, 
.toggle-nav span:before, 
.toggle-nav span:after {
  cursor: pointer;
  height: 5px;
  width: 35px;
  background: #817b7b;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.toggle-nav span:before {
  top: -10px;
}

.toggle-nav span:after {
  bottom: -10px; 
}

.toggle-nav.active span {
  background-color: transparent;
}

.toggle-nav.active span:before, 
.toggle-nav.active span:after {
  top: 0;
}

.toggle-nav.active span:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.toggle-nav.active span:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.primary-nav.fixed {
	position: fixed; 
	top: 0; 
	height: 50px; 
}

#main {
	display: block;
	background-color: #f2f8f6;
	text-align: center;
}

article {
	display: inline-block;
    width: 830px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    height: 100%;
}

article.fixed {
	margin-top: 95px;
}

article .date {
	display: inline-block;	
    margin-top: 25px;
	text-transform: uppercase;
	font-size: 14px;
}

body p {
    font-size: 16px;
    font-family: Merriweather, Helvetica, Verdana, Sans-Serif;
}

h1 {
	font-size: 36px;
	font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
	font-size: 24px;
	font-family: Merriweather, Helvetica, Verdana, Sans-Serif;
}

.recipe {
	text-align: left;
}

.recipe p {
	margin: 35px;
}

@media screen and (min-width: 320px) and (max-width: 768px){

	.site-header {
		height: 200px;
	}

	#navigation {
		margin-top: 200px;
	}

	.primary-items {
		display: none;
	}

	.secondary-nav {
		width: 100%;
		height: 100%;
		position: fixed;
    	top: 260px;
	}

	.secondary-nav .secondary-items {
		display: block;
	}

	.secondary-nav .secondary-items .hidden {
		display: block;
	}

	ul li {
		padding-bottom: 20px;
		float: none;
	}

	ul li a {
		font-weight: normal;
		font-size: 20px;
	}

	.fixed {
		display: none;
	}

	#main {
		z-index: -3;
	}

	article {
		width: 100%;
	}
}